/*
 * fonts
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic");
/*
 * defaults
 */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #2b313d;
  overflow-x: hidden;
}
.center {
  max-width: 1020px;
  width: 95%;
  margin: auto;
  overflow-x: hidden;
}
.header-wrapper {
  width: 100%;
  height: 65px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  overflow: visible;
  position: relative;
}
/*
 * defaults
 */
.body {
  background: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  margin-left: 5px;
}
.btn.btn-primary {
  background: #2b313d;
}
.btn.alpha {
  margin-left: 0;
}
.form-group {
  margin-left: 5px;
}
/*
 * User
 */
.user {
  float: right;
  position: relative;
  top: 10px;
  width: 410px;
  transition: 0.3s right ease;
}
.user .mobile-launch {
  position: absolute;
  left: -80px;
  top: 8px;
  display: none;
}
.user .mobile-launch:hover,
.user .mobile-launch:active,
.user .mobile-launch:visited {
  text-decoration: none;
}
.user .mobile-launch i {
  font-size: 28px;
  color: #2b313d;
  position: relative;
  top: 5px;
}
.user .mobile-launch span {
  margin-left: 5px;
  color: #2b313d;
}
.user.loggedin {
  width: 220px;
}
.user ul li a {
  color: #000;
}
.user .dropdown-toggle {
  padding: 2px;
  position: relative;
  top: 10px;
}
.user .dropdown-menu {
  left: -15px;
  top: 55px;
}
.user .dropdown-menu a {
  color: #000;
  font-size: 12px;
  padding: 8px 15px;
  text-transform: uppercase;
}
.user .caret {
  color: #000;
  left: 4px;
  position: relative;
}
.user .nav {
  margin-top: 0;
}
.user img {
  max-width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
/*
 * Nav
 */
a.logo {
  color: #fff;
  text-align: left;
  display: block;
  width: 100%;
  padding: 7px 0 8px 10%;
  background: rgba(255,255,255,0.1);
}
a.logo:hover {
  text-decoration: none;
}
a.logo img {
  max-width: 52px;
}
a.logo span {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-toggle {
  position: absolute;
  width: 40px;
  z-index: 99;
  cursor: pointer;
  height: 40px;
  border: none;
  background: none;
  left: 0;
  top: 10px;
}
.nav-toggle span {
  display: block;
  background: #2a323d;
  width: 100%;
  height: 2px;
  margin-top: 2px;
}
.snap-drawer-left {
  background: #2b313d;
}
.nav {
  margin-top: 50px;
  padding: 0;
}
.nav li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav li:first-child {
  border-top: 1px solid rgba(255,255,255,0.1);
}
.nav li a {
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 15px 0 15px 30px;
  transition: 0.2s background ease;
  opacity: 0.5;
  background: none !important;
}
.nav li a i {
  margin-right: 10px;
  font-size: 18px;
}
.nav li a:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.1) !important;
}
/*
 * Featured
 */
.featured-wrapper {
  background: #eaedf2;
  margin-top: 50px;
  padding: 10px 30px 30px 30px;
  line-height: 1;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s height ease;
}
.btns {
  margin-top: 25px;
}
.section-title {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
div.selection {
  width: 100%;
  margin-top: 20px;
  color: #666;
}
div.selection .selection-img {
  width: 20%;
  float: left;
  transition: width 0s linear;
}
div.selection .selection-details {
  width: 70%;
  float: left;
  margin-left: 20px;
}
div.selection .selection-details .title {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 15px;
}
div.selection .selection-details .title span {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  float: right;
  background: #666;
  padding: 7px;
  border-radius: 3px;
  font-weight: normal;
  position: relative;
  bottom: 5px;
}
div.selection .selection-details .synopsis {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 21px;
}
/*
 * Messaging
 */
.toast {
  top: 0px;
}
.toast-success {
  background-color: #7dd4e0;
}
/*
* Messaging
*/
.signup .panel {
  max-width: 500px;
  margin: 100px auto;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  width: 92%;
}
.signup .panel .panel-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}
.signup .panel.panel-success {
  border-color: #2b313d;
}
.signup .panel.panel-success >.panel-heading {
  background: #2b313d;
}
.signup .panel .btn-default {
  color: #fff;
  background: #2b313d;
  border: none;
}
/*
* Dashboard Bottom
*/
.dashboard-bottom {
  margin-top: 50px;
}
.dashboard-bottom .bucket {
  width: 47.5%;
  background: #eaedf2;
  float: left;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  padding: 10px 30px 10px 30px;
  transition: all 0.2s ease;
}
.dashboard-bottom .bucket:first-child {
  margin-right: 5%;
}
/*
* Nogos
*/
ul.nogos {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}
ul.nogos li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
ul.nogos li:last-child {
  border: none;
}
ul.nogos li span.imgContainer {
  width: 15%;
  height: 63px;
  float: left;
  display: block;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}
ul.nogos li span.imgContainer img {
  width: 100%;
  height: auto;
}
ul.nogos li span.txt {
  font-size: 18px;
  display: block;
  margin-left: 15px;
  font-weight: bold;
  color: #666;
  line-height: 1;
  margin-bottom: 10px;
}
ul.nogos li .btn {
  margin: 0;
}
/*
* Details
*/
.page {
  background: #eaedf2;
  margin-top: 50px;
  padding: 10px 30px 30px 30px;
  line-height: 1;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
.page .selection {
  margin-bottom: 30px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.page .selection .selection-details {
  width: 80%;
}
.page .selection .selection-details .btn {
  margin: 10px 0 0 0;
}
.page .selection .selection-img {
  width: 100px;
}
/*
* Animations
*/
.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
  display: block !important;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity: 0;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
@media screen and (max-width: 770px) {
  .user {
    position: fixed;
    width: 300px;
    right: -300px;
    background: #fff;
    padding: 10px;
    top: 0;
    border: 1px solid #2b313d;
    border-top-color: #fff;
    border-right-color: #fff;
  }
  .user .mobile-launch {
    display: block;
  }
  .user.loggedin {
    right: -225px;
    z-index: 1;
  }
  .user.loggedin .mobile-launch {
    top: 10px;
  }
  .user .btn-primary {
    width: 100%;
  }
  .user.open {
    right: 0px;
  }
  .user .nav {
    position: relative;
    left: 30px;
  }
  .user .nav .dropdown-menu {
    margin-left: -20px;
    margin-top: 20px;
  }
  .featured-wrapper div.selection .selection-img,
  .page div.selection .selection-img {
    float: none;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 120px;
    margin-bottom: 15px;
  }
  .featured-wrapper div.selection .selection-details,
  .page div.selection .selection-details {
    width: 100%;
    float: none;
    margin: 30px 0 0 0;
  }
  .featured-wrapper div.selection .selection-details .title,
  .page div.selection .selection-details .title {
    font-size: 14px;
  }
  .featured-wrapper div.selection .selection-details .title span,
  .page div.selection .selection-details .title span {
    font-size: 12px;
  }
  .featured-wrapper div.selection .selection-details .synopsis,
  .page div.selection .selection-details .synopsis {
    font-size: 12px;
  }
  .featured-wrapper div.selection .selection-details .btn,
  .page div.selection .selection-details .btn {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto 10px auto;
  }
  .featured-wrapper div.selection .selection-details .btn.alpha,
  .page div.selection .selection-details .btn.alpha {
    margin: 0 auto 10px auto;
  }
  .dashboard-bottom .bucket {
    float: none;
    width: 100%;
  }
  .dashboard-bottom .bucket:first-child {
    margin-bottom: 50px;
  }
}
