extends ../includes/layout

block main-content
    snap-drawer(ng-include="'partials/main/navigation'")

    snap-content.body
        button.nav-toggle(snap-toggle)
            span
            span
            span
        .wrapper
            .header-wrapper
                    div(ng-include="'partials/account/user-login'")
            section.content-wrapper
                .content(ng-view ng-animate)


