.nav-wrapper
    a.logo(href="/")
        img(src="img/logo.png")
        span FILMDMD
    ul.nav
        li
            a(href="/dashboard")
                i.fa.fa-dashboard
                | Dashbaord
        li
            a(href="/saved")
                i.fa.fa-save
                | Saved for Later

        li
            a(href="/watched")
                i.fa.fa-check-circle
                | Already Watched

        li
            a(href="/notinterested")
                i.fa.fa-remove
                | Not Interested
