script(type="text/javascript" src="vendor/jquery/dist/jquery.min.js")
script(type="text/javascript" src="vendor/toastr/toastr.min.js")
script(type="text/javascript" src="vendor/angular/angular.js")
script(type="text/javascript" src="vendor/angular-resource/angular-resource.js")
script(type="text/javascript" src="vendor/angular-route/angular-route.js")
script(type="text/javascript" src="vendor/angular-snap/angular-snap.js")
script(type="text/javascript" src="vendor/angular-animate/angular-animate.min.js")
script(type="text/javascript" src="vendor/angular-snap/snap.js")
script(type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="app/app.js")

//controllers
script(type="text/javascript" src="app/controllers/dmdFeaturedCtrl.js")
script(type="text/javascript" src="app/controllers/dmdUserLoginCtrl.js")
script(type="text/javascript" src="app/controllers/dmdDashboardCtrl.js")
script(type="text/javascript" src="app/controllers/dmdSignupCtrl.js")
script(type="text/javascript" src="app/controllers/dmdProfileCtrl.js")
script(type="text/javascript" src="app/controllers/dmdLaterCtrl.js")
script(type="text/javascript" src="app/controllers/dmdWatchedCtrl.js")
script(type="text/javascript" src="app/controllers/dmdRejectsListCtrl.js")
script(type="text/javascript" src="app/controllers/dmdWatchedListCtrl.js")
script(type="text/javascript" src="app/controllers/dmdLaterListCtrl.js")

//services
script(type="text/javascript" src="app/services/dmdIdentity.js")
script(type="text/javascript" src="app/services/dmdNotifier.js")
script(type="text/javascript" src="app/services/dmdAuth.js")
script(type="text/javascript" src="app/services/dmdUser.js")
script(type="text/javascript" src="app/services/dmdFilm.js")
script(type="text/javascript" src="app/services/dmdIgnored.js")
script(type="text/javascript" src="app/services/dmdGravatar.js")

//directives
script(type="text/javascript" src="app/directives/dmdFadeIn.js")
script(type="text/javascript" src="app/directives/dmdToggleClass.js")
script(type="text/javascript" src="app/directives/dmdPreload.js")